/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


* {
	font-family: Geneva;
}

body {
	height: 1000px;
	background-color: #F0ECEB;
	margin: 0 auto 0 auto;
	width: 100%;
}

h3 {
	margin-top: 30px;
}

.center_text {
	text-align: center;
}

.underlined_text {
	text-decoration: underline;
}

.italic_text {
	font-style: italic;
}

.green_text {
	color: green;
	font-weight: bold;
}

.bold_text {
	font-weight: bold;
}

.bold_text_up {
	font-size: 120%;
	font-weight: 900;
}

.alert {
	text-align: center;
	font-size: 150%;
	color: red;
}

.notice {
	text-align: center;
	font-size: 150%;
}

/*-------------------------------- Navigation Bar --------------------------------*/


.navigation {
	background-color: #151B54;
	height: 5.5%;
}

.navigation ul {
	list-style:none;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;

}

.navigation li {
	background-color: #151B54; 
	float:left;
	text-align: center;
	margin-top: 10px;
	margin-left: 20px;
	border-right: 1px solid #F0ECEB;
	border-left: 1px solid #F0ECEB;
}

.navigation li a {
	text-decoration:none;
	color:white;
	font-size: 150%;
	letter-spacing:0.2px;
	padding: 10px;
}

.navigation li:hover {
	background-color:#151B54;
	color: #EE3233;
}

.navigation li:hover a {
	color: #9F000F;
	padding-top: 4px;
	padding-bottom: 4px;
}

/*-------------------------------- Home Page --------------------------------*/

.home_page_logo {
	float: left;
	width: 12%;
	height: 12%;
	margin: 8% 1% 0 1%;
}

.home_page_logo img {
	width: 100%;
	height: 100%;
}

.home_page_text_title {
	font-size: 350%;
	font-weight: bold;
	background-color: #151B54;
	color: white;
	margin: 0 0 0 0 !important;
	text-align: left !important;
	padding-top: 10%;
	border-bottom: 1px solid #F0ECEB;
}

.background_color_gray {
	background-color: #F0ECEB;
	height: 8%;
}

.background_color_red {
	background-color: #9F000F;
	height: 25%;
}

.video {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: none;
	width: 560px;
}

.video iframe { 
	margin-top: -6%; 
}

.home_page_text_about_plusone {
	clear: both;
	font-size: 250%;
	margin: 5% 8% 3% 8%;
	padding: 0 2% 0 2%;
	border-right: 3px solid #151B54;
	border-left: 3px solid #151B54;
}

.home_page_text_about_plusone li {
	margin-left: 4%;
	text-decoration: italic;
}

.home_page_text_about_website {
	font-size: 250%;
	text-align: justify;
}

.disclaimer {
	font-size: 100%;
	margin: 5% 8% 3% 8%;
	padding: 0 2% 0 2%;
	border-right: 3px solid #151B54;
	border-left: 3px solid #151B54;
}

.disclaimer-span {
	text-decoration: underline;
}

.home_page_text_about {
	background-color: #151B54;
	color: #F0ECEB;
	width: 80%;
	padding: 3% 10% 3% 10%;
	text-align: justify;
}

.home_page_text_get_started {
	font-size: 250%;
	text-align: center;
	padding: 3% 10% 5% 10%;
	background-color: #151B54;
	color: #F0ECEB;
}

.home_page_get_started_link_new input{
	padding: 1% 7% 1% 7%;
	border-radius: 10px;
	font-size: 150%;
	cursor: pointer;
}

/*-------------------------------- Set-Up Page --------------------------------*/


.setup_page {
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 65%;
	margin:5% auto 5% auto;
	background-color: white;
}

.setup_page_form {
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 65%;
	margin:5% auto 5% auto;
	background-color: white;
	overflow: auto;
	text-align: right;
}

.setup_page_form h1 {
	margin-bottom: 5%;
}

.setup_page_h1 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.setup_page_form input {
	float: right;
	width: 300px;
	font-size: 14px;
	margin-left: 5%;
}

.setup_page_form select {
	float: right;
	width: 306px;
	margin-left: 5%;
}

.setup_page .submit_btn input{
	width: 20%;
	float: right;
}

.setup_page_form .submit_btn input{
	width: 20%;
	float: right;
	margin-top: 5%;
}

.field_with_errors {
	color: red;
	width: 200px;
}

.dob_select select{
	width: 69px;
	float: right;
}

.boxes_positions {

	margin: 100px 50px 100px 50px;
	float: middle;
}

.email_home_btns input {
	margin: 30px 100px 0px 100px;

}

.setup_page ol {
	padding-top: 10px;
}

.setup_page li {
	margin: 0px 20px 20px 10px;
	text-align: justify;
}

.setup_page_ssc {
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 65%;
	margin: 5% auto 5% auto;
	background-color: white;
	overflow: auto;
}

.setup_page_ssc h3 {
	margin-bottom: 10%;
}

.ssc-field {
	margin-top: 40px;
	margin-bottom: 60px;
}

.setup_page_ssc input{
	text-align: center;
	margin: 5% 25% 5% 25%;
	width: 50%;
}

.setup_page_ssc select{
	text-align: center;
	margin: 5% 25% 5% 25%;
	width: 50%;
}

.setup_page_ssc .submit_btn input{
	width: 20%;
	float: right;
	margin-top: 5%;
	margin: 0;
}

.ssc-gen {
	border: 1px solid black;
	background-color: #CEEBFB;
	margin-top: 5%;
	padding: 2% 10% 15% 10%;
	font-size: 150%;
}

.ssc-gen input {
	width: 5%;
	text-align: center;
	clear: both;
}

.ssc-gen .submit_btn input{
	font-size: 105%;
	width: 35%;
	float: left;
}

.ssc-gen .submit_btn2 input{
	font-size: 70%;
	width: 35%;
	float: right;
	clear: both;
	margin-bottom: 5%;
	margin-top: -7%;
}

.input-wide input {
	width: 32%;
}

.email-sms-link input {
	padding: 1% 7% 1% 7%;
	border-radius: 10px;
	font-size: 150%;
	cursor: pointer;
	position: center;
	margin: 5% 15% 10% 15%;
}

.setup_page_3 {
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 85%;
	max-width: 85%;
	margin: 5% auto 5% auto;
	background-color: white;
}

.setup_page_3 .submit_btn input{
	width: 15%;
	float: right;
}

.boxes_positions {
	text-align: center;
}

.box_positions_text {
	text-align: left;
	margin-left: -11.5%;
	margin-right: 1%;
}

.box_positions_1 {
	padding: 0 16.8px 0 16.8px;
	text-align: center;
	font-size: 70%;
}

.box_positions_2 {
	padding: 0 13.9px 0 14px;
	text-align: center;
	font-size: 70%;
}

#ct_mask_label {
	font-size: 150%;
	margin: 0 0 0 33%;
}

#ct_mask_label_values {
	font-weight: bold;
	font-size: 250%;
	margin: 2%;
}

#mem {
	width: 50%;
	height: 50%;
	background-color: #FFFFD6;
    font-size: 750%; text-align: center; font-weight: bold;
    margin: 10% auto;
}

.setup_page_get_started_link_new {
	text-align: center;
	margin: 0 auto 10% auto;
}

.setup_page_get_started_link_new input{
	padding: 1% 7% 1% 7%;
	border-radius: 10px;
	font-size: 150%;
	cursor: pointer;
	text-align: center;
	margin: 0 auto 0 auto;
}


.pn_1 input {
	width: 8.3%;
	display: block;
	float: right;
	text-align: center;
}

.pn_2 input {
	width: 8.3%;
	display: block;
	float: right;
	text-align: center;
}

.pn_3 input {
	width: 8.3%;
	display: block;
	float: right;
	text-align: center;
}

/*-------------------------------- Login Page --------------------------------*/

.login_page {
	overflow: auto;
	text-align: center;
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 65%;
	margin:5% auto 15% auto;
	background-color: white;
}

.login_page input {
	float: right;
	width: 300px;
	font-size: 14px;
	margin:0 10% 0 -10%;
}

.login_page select {
	float: right;
	width: 306px;
	margin-left: 5%;
}

.login_page .submit_btn input{
	width: 20%;
	float: right;
	margin-top: 5%;
}

.login_page_link_right {
	float: right;
	text-align: center;
	margin: 0 auto 10% auto;
}

.login_page_link_right input{
	padding: 1% 7% 1% 7%;
	border-radius: 10px;
	font-size: 150%;
	cursor: pointer;
	text-align: center;
	margin: 0 auto 0 auto;
}

.login_page_link_left {
	float: left;
	text-align: center;
	margin: 0 auto 5% auto;
}

.login_page_link_left input{
	padding: 1% 7% 1% 7%;
	border-radius: 10px;
	font-size: 150%;
	cursor: pointer;
	text-align: center;
	margin: 0 auto 0 auto;
}

.login_page_view_link {
	text-align: center;
	margin: 0 30% 5% 30%;
}

.login_page_view_link input{
	padding: 1% 7% 1% 7%;
	border-radius: 10px;
	font-size: 150%;
	cursor: pointer;
	text-align: center;
	margin: 0 auto 0 auto;
}

.welcome_login_heading {
	font-size: 300%;
	font-weight: bold;
}

.welcome_login_text {
	font-size: 200%;
	margin-bottom: 5%;
}

.login_page_text {
	font-size: 150%;
	margin-top: 10%;
}

.login_page_text input{
	font-size: 100%;
	width: 50%;
}

.login_page_text .submit_btn input{
	font-size: 100%;
	width: 20%;
}

.ssnv {
	letter-spacing: 3px;
}

.tel {
	letter-spacing: 3px;
}

.dob {
	letter-spacing: 3px;
}


/*-------------------------------- Footer --------------------------------*/

footer {
	text-align: center;
	margin: 0 auto 5% auto;
	border-top: 1px solid black;
}





/*-----##########################################################################################-----*/
/*-----##########################################################################################-----*/
/*-----##########################################################################################-----*/
/*-----##########################################################################################-----*/
/*-----##########################################################################################-----*/
/*-----##########################################################################################-----*/






/*-------------------------------- Mobile --------------------------------*/


@media screen and (max-device-width: 480px) {

	/*.setup_page{
		width: 80%;
		font-size: 200%;
	}

	.setup_page_form {
		width: 80%;
		font-size: 200%;
	}

	.setup_page_form input{
		width: 30%;
	}

	.setup_page_form select{
		width: 30%;
	}

	.setup_page_form small{
		font-size: 50%;
	}

	.setup_page_3 {
		width: 80%;
		font-size: 200%;
	}

	.setup_page_ssc {
		width: 80%;
		font-size: 200%;
	}*/



* {
	font-family: Geneva;
}

body {
	background-color: #F0ECEB;
	margin: 0 auto 0 auto;
	width: 100%;
}

/*h3 {
	margin-top: 30px;
}*/

.center_text {
	text-align: center;
}

.underlined_text {
	text-decoration: underline;
}

.italic_text {
	font-style: italic;
}

.green_text {
	color: green;
	font-weight: bold;
}

.bold_text {
	font-weight: bold;
}

.bold_text_up {
	font-size: 120%;
	font-weight: 900;
}

.alert {
	text-align: center;
	font-size: 350%;
	color: red;
}

.notice {
	text-align: center;
	font-size: 350%;
}




/*-------------------------------- Navigation Bar --------------------------------*/





.navigation {
	background-color: #151B54;
	height: 5.5%;
	font-size: 150%
}

.navigation ul {
	list-style:none;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;

}

.navigation li {
	background-color: #151B54; 
	float:left;
	text-align: center;
	margin-top: 10px;
	margin-left: 20px;
	border-right: 1px solid #F0ECEB;
	border-left: 1px solid #F0ECEB;
}

.navigation li a {
	text-decoration:none;
	color:white;
	font-size: 150%;
	letter-spacing:0.2px;
	padding: 10px;
}

.navigation li:hover {
	background-color:#151B54;
	color: #EE3233;
}

.navigation li:hover a {
	color: #9F000F;
	padding-top: 4px;
	padding-bottom: 4px;
}





/*-------------------------------- Home Page --------------------------------*/






.home_page_logo {
	float: left;
	width: 18%;
	height: 16%;
	margin: 4% 1% 0 1%;
}

.home_page_logo img {
	width: 100%;
	height: 100%;
}

.home_page_text_title {
	font-size: 350%;
	font-weight: bold;
	background-color: #151B54;
	color: white;
	margin: 0 0 0 0 !important;
	text-align: left !important;
	padding-top: 10%;
	border-bottom: 1px solid #F0ECEB;
}

.background_color_gray {
	background-color: #F0ECEB;
	height: 8%;
}

.background_color_red {
	background-color: #9F000F;
	height: 25%;
}

.video {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: none;
	width: 560px;
}

.video iframe { 
	margin-top: -6%; 
}

.home_page_text_about_plusone {
	clear: both;
	font-size: 350%;
	margin: 5% 8% 3% 8%;
	padding: 0 2% 0 2%;
	border-right: 3px solid #151B54;
	border-left: 3px solid #151B54;
}

.home_page_text_about_website {
	font-size: 350%;
	text-align: justify;
}

.disclaimer {
	font-size: 100%;
	margin: 5% 8% 3% 8%;
	padding: 0 2% 0 2%;
	border-right: 3px solid #151B54;
	border-left: 3px solid #151B54;
}

.disclaimer-span {
	text-decoration: underline;
}

.home_page_text_about {
	background-color: #151B54;
	color: #F0ECEB;
	width: 80%;
	padding: 3% 10% 3% 10%;
	text-align: justify;
}

.home_page_text_get_started {
	font-size: 350%;
	text-align: center;
	padding: 3% 10% 5% 10%;
	background-color: #151B54;
	color: #F0ECEB;
}

.home_page_get_started_link_new input{
	padding: 1% 7% 1% 7%;
	border-radius: 10px;
	font-size: 150%;
	cursor: pointer;
}






/*-------------------------------- Set-Up Page --------------------------------*/






.setup_page {
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 75%;
	margin:5% auto 5% auto;
	background-color: white;
	font-size: 300%;
}

.setup_page_form {
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 75%;
	margin:5% auto 5% auto;
	background-color: white;
	overflow: auto;
	text-align: left;
	font-size: 350%;
}

.setup_page_form h1 {
	font-size: 120%;
}

.setup_page_h1 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.setup_page_form small {
	display: none;
}

.setup_page_form input {
	width: 90%;
	font-size: 80%;
	margin-bottom: 5%;
}

.setup_page_form select {
	width: 95%;
	font-size: 80%;
	margin-bottom: 5%;
}

.setup_page .submit_btn input{
	width: 100%;
	float: right;
	margin-top: 5%;
}

.setup_page_form .submit_btn input{
	width: 100%;
	float: right;
	margin-top: 5%;
}

.page_4_submit_btn input{
	width: 100%;
	margin-top: 5%;
	font-size: 100%
}

.field_with_errors {
	color: red;
	width: 200px;
}

.dob_select select{
	width: 69px;
	float: right;
}

.boxes_positions {

	margin: 100px 50px 100px 50px;
	float: middle;
}

.email_home_btns input {
	margin: 30px 100px 0px 100px;

}

.setup_page ol {
	padding-top: 10px;
}

.setup_page li {
	margin: 0px 20px 20px 10px;
	text-align: justify;
}

.setup_page_ssc {
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 75%;
	margin:5% auto 5% auto;
	background-color: white;
	text-align: left;
	font-size: 350%;
}

.setup_page_ssc h3 {
	font-size: 100%;
	text-align: left;
}

.setup_page_ssc input{
	width: 90%;
	font-size: 80%;
	margin: 5% 0 5% 0 !important;
}

.setup_page_ssc select{
	width: 90%;
	font-size: 80%;
	margin-bottom: 5%;
	margin: 5% 0 5% 0 !important;
}

.setup_page_ssc .submit_btn input{
	width: 100%;
	float: right;
	margin-top: 5%;
}

.ssc-gen {
	border: 1px solid black;
	background-color: #CEEBFB;
	margin-top: 5%;
	padding: 2% 10% 40% 10%;
	font-size: 150%;
}

.ssc-gen input {
	width: 10%;
	text-align: center;
	clear: both;
	font-size: 70%;
}

.ssc-gen .submit_btn input{
	border-radius: 10px;
	font-size: 65%;
	width: 120%;
	margin: 0 -10% 0 auto !important;
}

.ssc-gen .submit_btn2 input{
	border-radius: 10px;
	font-size: 65%;
	width: 120%;
	margin: 0 -10% 10% auto !important;
}

.input-wide input {
	width: 90%;
	font-size: 70%;
}

.login_page_text {
	margin-bottom: 30%;
}

.login_page_text input{
	font-size: 65%;
	width: 90%;
}

.login_page_text .submit_btn {
	width: 100%;
	margin-top: 5%;
}

.email-sms-link input {
	border-radius: 10px;
	font-size: 75%;
	width: 100%;
	margin: 5% 0 5% 0 !important;
}

.setup_page_3 {
	border: 1px solid black;
	margin:5% auto 5% auto;
	padding-bottom: 30%;
	background-color: white;
	text-align: left;
	font-size: 350%;
}

.setup_page_3 .submit_btn input{
	width: 100%;
	font-size: 100%;
	margin: 10% 0 10% 0;
}

.ui-buttonset {
	font-size: 50%
}

#ct_mask_label {
	font-size: 100%;
	margin: 0;
}

#ct_mask_label_values {
	font-weight: bold;
	font-size: 150%;
	margin: 2%;
}

#mem {
	width: 50%;
	height: 50%;
	background-color: #FFFFD6;
    font-size: 750%; text-align: center; font-weight: bold;
    margin: 10% auto;
}

.setup_page_get_started_link_new input{
	width: 30%;
	margin-top: 5%;
	font-size: 200%
}


.pn_1 input {
	width: 8.3%;
	display: block;
	float: right;
	text-align: center;
}

.pn_2 input {
	width: 8.3%;
	display: block;
	float: right;
	text-align: center;
}

.pn_3 input {
	width: 8.3%;
	display: block;
	float: right;
	text-align: center;
}






/*-------------------------------- Login Page --------------------------------*/







.login_page {
	border: 1px solid black;
	padding: 3% 5% 5% 5%;
	width: 75%;
	margin:5% auto 5% auto;
	background-color: white;
	overflow: auto;
	text-align: center;
	font-size: 300%;
}

.login_page label {
	text-align: left;
}

.login_page input {
	width: 90%;
	font-size: 80%;
	margin: 5% auto 5% auto;
}

.login_page select {
	width: 90%;
	font-size: 80%;
	margin: 5% auto 5% auto;
}


.login_page_link_right  {
	width: 100%;
	font-size: 200%;
	margin: 5% auto 4% auto;
}

.login_page_link_left  {
	width: 100% !important;
	font-size: 200%;
	margin: 5% auto 10% auto !important;
}

.login_page_view_link {
	width: 100% !important;
	font-size: 100%;
	margin: 5% auto 10% auto !important;
}





.login_page .submit_btn input{
	width: 100%;
	margin-top: 5%;
	font-size: 100%
}


.login_page_view_link {
	text-align: center;
	margin: 0 30% 5% 30%;
}

.login_page_view_link input{
	padding: 1% 7% 1% 7%;
	border-radius: 10px;
	font-size: 150%;
	cursor: pointer;
	text-align: center;
	margin: 0 auto 0 auto;
}

.welcome_login_heading {
	font-weight: bold;
}


.ssnv {
	letter-spacing: 3px;
}

.tel {
	letter-spacing: 3px;
}

.dob {
	letter-spacing: 3px;
}


/*-------------------------------- Footer --------------------------------*/

footer {
	font-size: 150%;
	text-align: center;
	margin: 0 auto 5% auto;
	border-top: 1px solid black;
}









		
}
