/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


* {
	font-family: cursive;
}


body {
	height: 2000px;
	background-color: #CEEBFB;
	margin-right: auto;
	margin-left: auto;
}

h3 {
	margin-top: 30px;
}

/*-------------------------------- Home Page --------------------------------*/

.home_page_text_title {
	font-size: 28px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
}

.home_page_text_welcome {
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 100px;
}

.home_page_new_user_link {
	float: right;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 0px 10px 0px;
	background-color: #F0ECEB;
	margin: 50px 400px 200px 100px;
}

.home_page_new_user_link a {
	text-align: center;
	text-decoration: none;
	padding: 10px 32px 10px 32px;
	border-radius: 10px;
	color: black;
}

.home_page_login_link {
	float: left;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 0px 10px 0px;
	background-color: #F0ECEB;
	margin: 50px 100px 200px 400px;
}

.home_page_login_link a {
	text-align: center;
	text-decoration: none;
	padding: 10px 32px 10px 32px;
	border-radius: 10px;
	color: black;
}

.home_page_text_about_plusone {
	clear: both;
	font-size: 16px;
	text-align: justify;
	background-color: #66A7C5;
	padding: 100px;
}

.home_page_text_about_plusone li {
	margin-left: 40px;
	text-decoration: italic;
}

.home_page_text_about_website {
	font-size: 16px;
	text-align: justify;
	padding: 100px;
}

.disclaimer {
	margin-top: 40px;
}

.disclaimer-span {
	text-decoration: underline;
}

.home_page_text_get_started {
	font-size: 16px;
	text-align: center;
	padding: 100px;
	background-color: #F0ECEB;
}

.home_page_get_started_link {
	font-size: 18px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 0px 10px 0px;
	background-color: #66A7C5;
	margin: 50px auto 200px auto;
	width: 235px;
}

.home_page_get_started_link a {
	text-align: center;
	text-decoration: none;
	padding: 10px 34px 10px 34px;
	border-radius: 10px;
	color: black;
}

/*-------------------------------- Set-Up Page --------------------------------*/
.setup_body {
	width: 800px;
	background-color: white;
}

.setup_page {
	border: 1px solid black;
	padding: 10px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	background-color: #CEEBFB;
	overflow: auto;
}

.setup_page input {
	float: right;
	width: 300px;
	font-size: 14px;
}

.setup_page select {
	float: right;
	width: 306px;
}

.setup_page .submit_btn input{
	width: 150px;
	float: right;
}

.field_with_errors {
	color: red;
}

.dob_select select{
	width: 69px;
	float: right;
}

.boxes_positions {

	margin: 100px 50px 100px 50px;
	float: middle;
}

.email_home_btns input {
	margin: 30px 100px 0px 100px;

}

