<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @basic_info.first_name %>, </p>
    <p>
    This is the new password you requested for Plus-One website:<br/>
    </p>
    <p>
    New Password : <%=@pass %>
    </p>
    <p>
    Access your profile at <a href="http://sscbeta.herokuapp.com/login/page1"> this link </a>and use the new password to Access your profile or request new challenge code.
    </p>
    <p>
    To change this Password, please login and click on "Change Password" button on "Edit Profile" page. 
    </p>
  </body>
</html>
