<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>hi <%= @basic_info.first_name %>, </p>
    <p>
    your new challange text is : <%= @ct %>.<br/>
    </p>
  </body>
</html>
