<table style="width:100%;height:60px;border:1px solid;" align='center'>
  <tr>
    <td align='center'>
      <%= link_to "Setup", :controller => :setup, :action => :new %>
    </td>
    <td align='center'>
    </td>
    <td align='center'>
      <%= link_to "Login", :controller => :login, :action => :page1 %>
    </td>
  </tr>
</table>


<div class="home-page-text">

<p>
Plus-One is a patented new way to protect the information that we all hold most dear.

This website is intended to provide a first glimpse at the capabilities of Plus-One as a security mechanism to protect a hypothetical database of sensitive information from fraudulent access.

While Plus-One can be accessed by all users with an email address, the full capability of the program can best be demonstrated when the user has a text-enabled mobile phone.

PLEASE NOTE: While this website already has security protections in place, this website is in “Beta” form and has not been fully tested. Please refrain from using real sensitive information. We advise that you create a “dummy” 10-digit hypothetical Social Security number and write that hypothetical number down for use in conjunction with your exploration of this prototype program.
</p>

</div>
