<div class="background_color_gray">

</div>
<div class="background_color_red">

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/uHhwUXpYGnY" frameborder="0" allowfullscreen></iframe>
</div>

</div>


<div class="home_page_text_about_plusone">
<h2> About Plus-One </h2>
<p>Plus-One is a new way to protect your tax information. It uses some of your personal information (such as your social security number and phone number), along with some new information that you set up when you create a profile, to ensure that you are the only person that can see your tax information.</p>

<p>When you set up your Plus-One, you will set up two different things: </p>
<ol>
<li> The first thing you will set up is called your profile. Your profile is how you will get from the Plus-One HOME page into your profile page. Imagine this as being the key that unlocks a door to a room. Your key to your “room” will be your email address and your password. You will type these in every time you LOGIN to the website.</p>

<li> The second thing you will set up is called your SECRET SECURITY CODE, or your SSC. Your SSC is how you will get from your profile page into your tax information. Imagine this as being a safe inside of your room where you keep your tax information. Your key to the “safe” will be your SSC, which is a number that will change each time you want to open your safe.<p>
</ol>
<p>We know that this means you will need to type in more information than just your birthday and your social security number; however, this is also why Plus-One is good at keeping your information safe.</p>

<p>Think of it this way…</p>

<p>Before Plus-One, all that a bad guy needs to steal your tax return is your Social Security Number and your birthday. It is that easy.</p>

<p>Now that you have Plus-One, you can make sure that your tax return is not stolen. All you need to do is write down and remember a few numbers. We will let you know when that number is important to write down and remember.</p>

</div>


<div class="home_page_text_about_website">
<div class="home_page_text_about">
<h3> About This Website </h3>
<p>This website is intended to provide a first glimpse at the capabilities of Plus-One as a security technology and to protect a hypothetical database of sensitive information from fraudulent access. </p>

<p>While Plus-One can be accessed by all users with an email address, the full capabilities of the system can best be demonstrated when the user has a text-enabled mobile phone.</p>

</div>
<p class="disclaimer"> <span class="disclaimer-span">DISCLAIMER:</span> This website is intended only to be used as a tool to demonstrate the capabilities of the Plus-One and Plus-Four security technology. This website should be used only for the purposes of demonstrating this technology. This website should only be used with the author’s permission. When using this website, NEVER USE REAL IDENTIFICATION NUMBERS OR ANY OTHER INFORMATION THAT COULD BE CONSIDERED SECURE OR PROPRIETARY. When using this website, we recommend that the user invent a “dummy” profile and write down that dummy profile’s “personal” information in order to ensure safety. USE THIS WEBSITE AT YOUR OWN RISK.</p>

</div>


<div class="home_page_text_get_started">
<h3> Get Started </h3>
<div class="home_page_get_started_link">
<%= link_to "Create Profile", :controller => :setup, :action => :welcome_setup %>
</div>
</div>
