<div class="background_color_gray">

</div>
<div class="background_color_red">

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/uHhwUXpYGnY" frameborder="0" allowfullscreen></iframe>
</div>

</div>


<div class="home_page_text_about_plusone center_text">
<p>About <span class="bold_text">Plus-One</span>: </p>
<p><span class="bold_text">Plus-One</span> is an anti-fraud method to protect <span class="underlined_text">your</span> private tax information.  <span class="bold_text">Plus-One</span> uses one of six personal  i.d. numbers of your choosing with added private information you use when setting up your profile.</p>

<h4 class="center_text">Setting up your <span class="bold_text_up">Plus-One</span> is simple and easy.</h4>

<p>First you will type in private and or personal information which identifies you, also known as a <span class="italic_text">profile</span>.   This information is top secret and only you can change it.</p>

<p>The second step is signing up for <span class="underlined_text">your</span> <span class="italic_text"><span class="green_text">S</span>ecret <span class="green_text">S</span>ecurity <span class="green_text">C</span>ode, also called</span> <span class="underlined_text">your</span> <span class="italic_text green_text">SSC</span>&#0153 . <span class="underlined_text">Your</span> <span class="italic_text green_text">SSC</span>&#0153 is your key to unlock, read and send <span class="underlined_text">your</span> private tax information.</p>

<p><span class="bold_text">Plus-One</span> anti-fraud protection:</p>
<p>THE ULTIMATE PROTECTION AGAINST BAD GUYS STEALING YOUR IDENTITY!</p>

</div>


<div class="home_page_text_about_website">
<div class="home_page_text_about">
<h3> About This Website </h3>
<p>This website is intended to provide a first glimpse at the capabilities of Plus-One as a security technology and to protect a hypothetical database of sensitive information from fraudulent access. </p>

<p>While Plus-One can be accessed by all users with an email address, the full capabilities of the system can best be demonstrated when the user has a text-enabled mobile phone.</p>

</div>
<p class="disclaimer"> <span class="disclaimer-span">DISCLAIMER:</span> This website is intended only to be used as a tool to demonstrate the capabilities of the Plus-One and Plus-Four security technology. This website should be used only for the purposes of demonstrating this technology. This website should only be used with the author’s permission. When using this website, NEVER USE REAL IDENTIFICATION NUMBERS OR ANY OTHER INFORMATION THAT COULD BE CONSIDERED SECURE OR PROPRIETARY. When using this website, we recommend that the user invent a “dummy” profile and write down that dummy profile’s “personal” information in order to ensure safety.</p>

</div>


<div class="home_page_text_get_started">
<h3> Get Started </h3>

<div class="home_page_get_started_link_new">
<%= button_to "Create Profile", welcome_setup_setup_index_path, :method => :get  %>
</div>

</div>
