<div class="setup_page_form">

<div class="center_text">
<h2> Edit Your Profile</h2>
</div>


  <div class="login_page_view_link">
<%= button_to "Return to Your Profile", view_login_index_path, :method => :get  %>
</div>

</br></br>

  <%= form_for(@profile, url: './update') do |f| %>
    <%= render 'form_edit', :f => f %>
    <div class="login_page_3_btn">
      <%= f.submit("Update Profile") %>
    </div>
  <% end %>
</div>
