<div class="login_page">

<span class="center_text">

<h1> Taxes </h1>

<p> This page will be where you will be able to FILE and ACCESS your taxes in the future. </p>

</span>

<div class="login_page_view_link">
  <%= button_to "Return to Your Profile", view_login_index_path, :method => :get  %>
</div>

</div>