<div class="login_page">

<p class="welcome_login_heading"> Congratulations! </p>

<p class="welcome_login_text">You correctly entered <span class="underlined_text">your</span> <span class="green_text">SSC</span>, verifying it's really you. You may now access <span class="underlined_text">your</span> tax information and edit <span class="underlined_text">your</span> <span class="italic_text">profile</span>. </p>

  
<div class="login_page_link_right">
<%= button_to "Edit Profile", page3_login_index_path, :method => :get  %>
</div>
<div class="login_page_link_left">
<%= button_to "Tax Information", view_login_index_path , :method => :get  %>
</div>
<div class="login_page_view_link">
<%= button_to "Home", root_path, :method => :get  %>
</div>

</div>
