<div class="login_page">

<p class="welcome_login_text"> Next you will enter <span class="underlined_text">your</span> <span class="green_text">SSC</span><span class="trade_mark">&#0153</span> to file and see <span class="underlined_text">your</span> taxes! </p>
  

</div>

<div class="setup_page_get_started_link_new">
<%= button_to "Enter SSC", page2_login_index_path, :method => :get  %>
</div>