<div class="login_page">

<p class="welcome_login_heading"> Welcome to <span class="underlined_text">your</span> <span class="italic_text">profile</span>.</p> 

<p class="welcome_login_text"> Your profile is where you will have access to some of <span class="underlined_text">your</span> less private information. Click Enter <span class="green_text">SSC</span> in order to see <span class="underlined_text">your</span> taxes and edit <span class="underlined_text">your</span> <span class="italic_text">profile</span> </p>
  


<div class="login_page_link_right">
<%= button_to "Enter SSC", page2_login_index_path, :method => :get  %>
</div>

<div class="login_page_link_left">
<%= button_to "Home", root_path, :method => :get  %>
</div>

</div>
