<div class="setup_page">

<h2 class="red_text center_text bigger_text"> !!Caution!! </h2>

<p> This is a practice website.</p>

<p> Do not use your real driver's license, social security, debit/credit card, medicare or medicaid numbers. </p>

<p> Write down a fake number now and enter it when the website asks you to. </p>

</div>

<!-- <div class="hand_img">
<img src="/assets/hand.png"/>
</div> -->
<div class="setup_page_get_started_link_new">
<%= button_to "Get Started", welcome_setup_setup_index_path, :method => :get  %>
</div>
