
<div class="setup_page_3">
  <h2>Your Box Code is: </h2>
  <p id='mem'></p>
 <% if session[:login] %> 
  <p class="submit_btn"> <%= button_to "Proceed", :controller => :login, :action => :page3, :class => "button", :method => :get  %> </p>
<% else %>
  <p class="submit_btn"> <%= button_to "Proceed", :controller => :setup, :action => :page4, :class => "button", :method => :get  %> </p>
<% end %>
</div>

<script>
  $(function(){

    var text = "<%= @ct_mask %>".split(',');
    var p2 = document.getElementById("mem");
    for (var i = 0; i < text.length; i++ ){
      var ce = document.createElement('label');
      $(ce).attr({
        id:''+i+'',
        for:''+i+'',
        hidden:'true'
      });
      $(ce).text('        '+text[i]+'        ');
      p2.appendChild(ce);
    }
    $(p2).show();

    setTimeout( 'meme()', 200);
  })

  function meme(){
    var a = 500;

    $('#0').fadeIn(a).delay(3*a).fadeOut(a);
    $('#1').fadeIn(2*a).delay(2*a).fadeOut(a);
    $('#2').fadeIn(3*a).delay(a).fadeOut(a);
    setTimeout( 'meme()', (500*5));
  }
</script>
