<div class="setup_page_3">

<div class="center_text">
<h1>Your secret Box Code is: </h1>
</div>

<p id='mem'></p>

<div class="center_text">
<h4>Write this number down so that you do not forget it!</h4>
</div>

</div>
 <% if session[:login] %> 
  <div class="setup_page_get_started_link_new"> <%= button_to "Next", view_login_index_path, :method => :get  %> </div>
<% else %>
  <div class="setup_page_get_started_link_new"> <%= button_to "Next", page4_setup_index_path, :method => :get  %> </div>
<% end %>

<script>
  $(function(){

    var text = "<%= @ct_mask %>".split(',');
    var p2 = document.getElementById("mem");
    for (var i = 0; i < text.length; i++ ){
      var ce = document.createElement('label');
      $(ce).attr({
        id:''+i+'',
        for:''+i+'',
        hidden:'true'
      });
      $(ce).text('        '+text[i]+'        ');
      p2.appendChild(ce);
    }
    $(p2).show();

    setTimeout( 'meme()', 200);
  })

  function meme(){
    var a = 500;

    $('#0').fadeIn(a).delay(3*a).fadeOut(a);
    $('#1').fadeIn(2*a).delay(2*a).fadeOut(a);
    $('#2').fadeIn(3*a).delay(a).fadeOut(a);
    setTimeout( 'meme()', (500*5));
  }
</script>
