
<div class="setup_page_3">
  <span id="d"></span>
  <p id='mem'></p>
  <%= link_to "Proceed", :controller => :setup, :action => :page4 %>
</div>

<script>
  $(function(){
    alert('<%= @ct_mask %>');

    //var text = "123".split('');
    //var d_arr = [];
    var text = "<%= @ct_mask %>".split(',');
    var p2 = document.getElementById("mem");
    var d = document.createElement("div");
    for (var i = 0; i < text.length; i++ ){
      var ce = document.createElement('label');
      $(ce).attr({
        id:''+i+'',
        for:''+i+'',
        hidden:'true'
      });
      $(ce).text(''+text[i]+'');
      d.appendChild(ce);
      d_arr.push(ce);
    }
    $(p2).append(d);//necessary ? 
    $(p2).show();

    setInterval( function(){
      var a = 500;

      $('#0').fadeIn(a).delay(3*a).fadeOut(a);
      $('#1').fadeIn(2*a).delay(2*a).fadeOut(a);
      $('#2').fadeIn(3*a).delay(a).fadeOut(a);
    }, (500*5));


  })
</script>
