<h1>Setup</h1>
<p>Try it Out</p>
<p>bunch of input fileds.</p>

<%= form_tag :url => "./page4" do |p| %>
  SSC: <%= text_field_tag :ssc %>
  </br>
  <p>
  <%= submit_tag('check') %>
  </p>
<% end %>

