<div class="setup_page">

<h1>Setup</h1>
<p>Caution! </p>
<p>dont share this secure info with anyone.</p>
<p>(developers comment: content of this page will be provided by Hannah)
<div>
<%= form_tag('./page3') do %>
  <p>
  <%= submit_tag 'Proceed' %>
  </p>
<% end %>
</div>
</p>
</div>
