<div class="setup_page">

<div class="center_text">
	<h2> Receive your Challenge Symbol by email and SMS!</h2>


<div class="email-sms-link">
	<%= form_tag("./page4") do %>
	  <%= hidden_field_tag 'sendnew', 'yes' %>
	  <%= submit_tag("Click here to receive your challenge text:") %>
	<% end %>
</div>


<p>Check your email and phone for your Challenge Symbol.</p>
<p>When you have received your Challenge Symbol, click proceed.</p>

</div>

<div class="submit_btn">
	<%= button_to "Proceed", page5_setup_index_path, :method => :get %>
</div>

</div>
