<div class="setup_page">


<div class="center_text">
<span class="fireworks">
  <img src="/assets/fireworks.gif"/> Congratulations! <img src="/assets/fireworks.gif"/>
  </span>
  

<p> You have setup your <span class="green_text">SSC</span><span class="trade_mark">&#0153</span>! </p>

<p> Click LOGIN to login to your profile! Have your Personal Identification Number, Box Code, and Challenge Graphic ready when you login! </p>


</div>



</div>

<div class="setup_page_get_started_link_new">
  <%= button_to "Login", page1_login_index_path, :method => :get %>
</div>
