<h1>Setup</h1>
<p>Pick your the boxes to be replaced with Challange text.</p>
<p>developers note: this will be an array of toggel buttons. with validation "only 3 can be turned on for submission". </p>
<% if flash[:error].present?  %>
  <p style='color:red' class='error-messages'>
  <%= flash[:error] %>.
  </p>
<% end %>
<% debug(params) if Rails.env.development? %>
<%= form_tag :url => "./page3" do |p| %>
  SSC Mask: <%= text_field_tag :ct_mask %>
  </br>
  <p>
  <%= submit_tag('Proceed') %>
  </p>
<% end %>
