<div class="setup_page">

  <div class="center_text">
    <h3>3. Receive your Challenge Graphic by email and text message!</h3>


    <div class="email-sms-link">
      <%= form_tag("./page4") do %>
        <%= hidden_field_tag 'sendnew', 'yes' %>
        <%= submit_tag("Click here to receive your Challenge Graphic!") %>
      <% end %>
    </div>


    <p class="setup_page_4_txt">Check your email and phone for your Challenge Graphic.</p>
    <p class="setup_page_4_txt">When you have received your Challenge Graphic, click next.</p>

  </div>


  <script>
    $('.email-sms-link form').submit(function() {  
      $(".email-sms-link :submit").prop('disabled', true);
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('./page4'), 
        data: valuesToSubmit,
        dataType: "JSON" 
        }).success(function(json){
        //act on result.
      });
      return false; 
    });
  </script>

</div>

  <div class="setup_page_get_started_link_new">
    <%= button_to "Next", page5_setup_index_path, :method => :get %>
  </div>