<div class="setup_page">


<div class="center_text">
  <h1> Congratulations! You have setup your SSC! </h1>

<img src="/assets/fireworks.gif"/>

<p> Click LOGIN to login to your profile! Have your Personal Identification Number, Box Code, and Challenge Symbol ready when you login! </p>
</br></br></br>

</div>

<div class="setup_page_get_started_link_new">
  <%= button_to "Login", page1_login_index_path, :method => :get %>
</div>


</div>
