<h1>Setup</h1>
<p>Press the button bellow to send out the challange text.</p>

<button>Send challange text</button>
</br>
</br>
(developers comment: after the text is sent, a popup box will show up containing the text "Congratulaitons! use your ssc to file ur taxes etc". with single acknoldgement button which when pressed will redirect to home page. )
