<div class="setup_page">
<div class="center_text">
<h1> Setup your <span class="green_text">SSC</span>! </h1>
</div>

<h2> Setup your <span class="green_text">SSC</span> in only three easy steps! </h2>

<ol>
<li> Choose a category for your Personal Identification Number and type in that number! </li>

<li> Click three boxes in order to create your secret "Box Code!" </li>

<li> Receive your Challenge Symbol by email and text message! </li>
</ol>

</div>

<div class="setup_page_get_started_link_new">
<%= button_to "Get Started", new_ssc_setup_index_path, :method => :get  %>
</div>
