<div class="setup_page">

<h2> Create your profile! </h2>


<li> In the next few steps, you will type in some of <span class="underlined_text">your</span> personal information in order to create <span class="underlined_text">your</span> <span class="italic_text">profile</span>.</li>

<li> This information will be kept safe and private. You can change this information if you choose to edit <span class="underlined_text">your</span> <span class="italic_text">profile</span>.</li>

<li> If you have a text-enabled phone, please enter that number in the “mobile phone” category!</li>

</div>

<div class="setup_page_get_started_link_new">
<%= button_to "Get Started", new_setup_path, :method => :get  %>
</div>



<script>
  $(function(){
  alert("Caution!!\n\n This is a prototype website.\n\nPlease do not submit any sensitive personal information for this website including: Social Security Number, Driver's License, etc.\n\nWe advise you to make up a fake number and write it down so that you can remember it.");
  })
</script>
