<div class="setup_page">


<h2> Setup your SSC in three easy steps! </h2>

<ol>
<li> Choose your Personal Identification Number Category and Enter your Number </li>

<li> Select three boxes in order to create your secret “Box Number”! </li>

<li> Receive your challenge symbol by email or by SMS </li>
</ol>

</div>

<div class="setup_page_get_started_link">
<%= link_to "Get Started", :controller => :setup, :action => :new %>
</div>
