<div class="setup_page">


<h2> Create your profile! </h2>

<ol>
<li> In this next few steps, you will create a profile for the Plus-One site. This will allow you access into your profile to manage your Secret Security Code settings and request new challenge symbols.</li>

<li> These next steps will ask you for several pieces of personal information that will be used to authenticate that it is really you accessing your profile the next time you log in!</li>

<li> If you have a text-enabled mobile phone, use that phone in the "mobile phone" category.</li>
</ol>

</div>

<div class="setup_page_get_started_link">
<%= link_to "Get Started", :controller => :setup, :action => :new %>
</div>

<script>
  $(function(){
  alert("Caution!!\n\n This is a prototype website.\n\nPlease do not submit any sensitive personal information for this website including: Social Security Number, Driver's License, etc.\n\nWe advise you to make up a fake number and write it down so that you can remember it.");
  })
</script>
