<div class="setup_page">

<h2 class="center_text"> Setup your <span class="green_text">SSC</span><span class="trade_mark">&#0153</span> in only three easy steps! </h2>

<ol>
<li> Choose a category for your Personal Identification Number and type in that number! </li>

<li> Click three boxes in order to create your secret "Box Code!" </li>

<li> Receive your Challenge Graphic by email and text message! </li>
</ol>

</div>

<div class="setup_page_get_started_link_new">
<%= button_to "Next", new_ssc_setup_index_path, :method => :get  %>
</div>
